    <footer class="bg-light text-center text-lg-start m-0">
      <div class="container p-4">
          <div class="row">
              <div class="col-lg-4 col-md-12 mb-4">
                  <h5 class="text-uppercase">The Daily Insights</h5>
                  <p>By : Madhur sharma</p>
                  <p>Email : <a href="madhusudansharma2324@gmail.com" class="text-primary">madhusudansharma2324@gmail.com</a></p>
                  <p>Follow me on Instagram: <a href="https://www.instagram.com/madhurr.sharma/" target="_blank" class="text-primary">@madhurr.sharma</a></p>
              </div>
              <div class="col-lg-4 col-md-6 mb-4">
                  <h5 class="text-uppercase">Links</h5>
                  <ul class="list-unstyled">
                      <li><a href="/privacy-policy" class="text-dark">Privacy Policy</a></li>
                      <li><a href="/terms-of-service" class="text-dark">Terms of Service</a></li>
                      <li><a href="/contact" class="text-dark">Contact</a></li>
                  </ul>
              </div>
              <div class="col-lg-4 col-md-6 mb-4">
                  <h5 class="text-uppercase">Stay Connected</h5>
                  <p>&copy; 2023 The Daily Insights. All rights reserved.</p>
              </div>
          </div>
      </div>
  </footer>
  </body>
  </html>