{% extends 'base/base.html' %}


{% block content %}

  <!-- Recent artical -->
  <h3 class="text-uppercase text-warning" style="letter-spacing: 2px;">Category - {{ category }}</h3>
  <main role="main" class="container py-4">
    <div class="row g-4">

        {% for post in posts %}
          <div class="col-md-6 my-3">
          <div 
            class="card shadow-sm h-00 border-1" 
            style="border-radius: 12px; transition: transform 0.3s, box-shadow 0.3s;"
            onmouseover="this.style.transform='translateY(-5px)'; this.style.boxShadow='0 8px 20px rgba(0, 0, 0, 0.2)';" 
            onmouseout="this.style.transform='translateY(0)'; this.style.boxShadow='0 4px 15px rgba(0, 0, 0, 0.1)';">
    
            {% if post.image %}
            <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}" style="height: auto;">
            {% endif %}
    
            <div class="card-body">
    
              <h5 class="card-title">
    
              <a href="{% url 'blogs' post.slug %}" class="text-decoration-none text-dark">{{ post.title }}</a></h5>
    
              <small class="text-muted mb-2 d-block">{{ post.created_at | timesince }} ago | {{ post.author }}</small>
    
              <p class="card-text" style="color: #555; height: 80px; overflow: hidden;">{{ post.short_description | truncatewords:20 }}</p>
      
              <a href="{% url 'blogs' post.slug %}" class="btn btn-primary" style="border-radius: 5px; transition: background-color 0.3s; color: white;">Read More</a>
            </div>
    
          </div>
          </div>
        {% endfor %}

    </div>

  </main><!-- /.container -->

</div>
{% endblock %}